nbproject/
/home/marcosbras/sistema/erp/assets/anexos
/home/marcosbras/sistema/erp/assets/arquivos
/home/marcosbras/sistema/erp/assets/uploads
/home/marcosbras/sistema/erp/application/config/database.php
/home/marcosbras/sistema/erp/application/config/config.php

